<!-- login.componenwt.html -->
<br><br><br><br><br><br>
<div class="container">
  <div class="card">
    <div class="card-body">
      <!-- For Companies Section -->
      <div class="section">
        <h3>For <span class="text-success">Companies</span></h3>
        <p>We are the market-leading technical interview platform to identify and hire developers with the right skills.</p>
        <button routerLink="/register" class="btn btn-success">Register</button>
        <p class="mt-3">Don't have an account?<br><a href="#">Contact sales</a> or <a href="#">Get free trial</a>.</p>
      </div>
      <!-- For Developers Section -->
      <div class="separator"></div>
      <div class="section">
        <h3>For <span class="text-success">Job Seekers</span></h3>
        <p>Join over 17 people, search for jobs, prepare for interviews, and get hired.</p>
        <button routerLink="/seekerregister" class="btn btn-outline-success">Register</button>
        <p class="mt-3">Don't have an account?<br><a href="#">Sign up</a>.</p>
      </div>
    </div>
  </div>
</div>
